* {
  margin: 0;
}

@keyframes fadeIn {
  0% {
  opacity: 0; /*初始状态 透明度为0*/
  }
  50% {
  opacity: 0; /*中间状态 透明度为0*/
  }
  100% {
  opacity: 1; /*结尾状态 透明度为1*/
  }
  }

  .has-animation {
    animation-name: fadeIn;
    animation-duration: 0.8s; 
    animation-iteration-count: 1;
    animation-delay: 0s;
  }
.header {
  display: flex;
  padding: 0 50px;
  justify-content: space-between;
  height: 64px;
  line-height: 64px;
  background-color: #fff !important;
  box-shadow: 0 3px 14px 0 rgb(0 0 0 / 14%), 0 5px 5.5px 0 rgb(0 0 0 / 12%);
}

*{
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5em;
  text-align: justify;
}

.header-title {
  font-size: 22px;
  font-weight: 600;
}

.btn {
  border: 1px solid #489ff4;
  background: #489ff4;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.where-go {
  background-image: url('./imgs/sembwaste-1.jpg');
  height: 900px;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

.where-go-title {
  padding-top: 175px;
  font-size: 50px;
  width: 500px;
  margin-left: 30px;
  text-align: center;
  line-height: 1.3;
}

.where-go-desc {
  padding-top: 213px;
  width: 500px;
  padding-left: 50px;
  font-size: 18px;
}

.process {
  position: relative;
}

.process-title {
  position: absolute;
  font-size: 40px;
  top: 100px;
  left: 70px;
}

.process-1 {
  position: relative;
  display: flex;
  justify-content: center;
}

.process-2 {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: -25px;
}

.bubble {
  position: absolute;
  background: #e5e5e5;
  border-radius: 10px;
  padding: 20px 10px;
  font-size: 12px;
}

.step-img {
  position: absolute;
  width: 128px;
  height: 128px;
  border-radius: 64px;
  text-align: center;
  line-height: 128px;
}

.step-img img {
  margin-top: 12px;
  width: 100px;
  height: 100px;
}

.step-img-blue {
  background: #489ff4;
}

.step-img-gray {
  background: #e5e5e5;
}

.process-inner {
  width: 1000px;
  height: 976px;
  position: relative;
}

.waste-to-energy{
  padding: 20px 100px;
  display: flex;
  position: relative;
  overflow: hidden;
}

.waste-to-energy-bg{
  position: absolute;
  width: 1200px;
  height: 1200px;
  background: linear-gradient(#489ff4, #cce0f3);
  border-radius: 600px;
  right: -100px;
  top: 100px;
}

.waste-to-energy-left{
  width: 60%;
  position: relative;
  z-index: 1;
}

.waste-to-energy-title{
  font-size: 40px;
  margin-bottom: 50px;
}

.waste-to-energy-desc-item{
  margin-bottom: 20px;
  font-size: 20px;
}

.waste-to-energy-right{
  flex-shrink: 1;
  width: 30%;
  margin-left: 30px;
  position: relative;
  z-index: 1;
}

.waste-to-energy-right-desc{
  font-weight: 600;
  font-size: 20px;
}

.waste-to-energy-right-icon{
  width: 150px;
  height: 150px;

}

.waste-to-energy-right-icons{
  display: flex;
  justify-content: center;
}

.chart-wrapper {
  display: flex;
  margin: 50px;
}

.generated-chart{
  display: flex;
  margin: 50px;
}

.generated-chart-item{
  width: 50%;
}

.chart-item{
  width: 50%;
}

.generated-chart-right-title{
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 30px;
}

.bar-chart {
  margin: 0;
  padding: 50px;
  background: #c9e5fb;
}

.map-chart{
  margin: 50px 0;
  padding: 50px;
  background-image: url('./imgs/2754px-BlankMap-World-Flattened.svg.png');
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  /* color: #fff; */
}

.map-chart-title{
  font-size: 50px;
}

.map-chart-inner{
  width: 50%;
}

.trash-placed{
  display: flex;
}

.trash-placed-left{
  width: 50%;
}

.trash-placed-right{
  box-sizing: border-box;
  padding: 50px;
}

.trash-placed-right-title{
  font-size: 40px;
  margin-bottom: 35px;
}

.trash-placed-right-content{
 font-size: 14px;
 margin-bottom: 20px;
}

.Singapore{
  padding: 100px 200px;
  text-align: center;
  font-weight: 500;
}

.Singapore-title{
  font-size: 40px;
  margin-bottom: 40px;
}

.Singapore-desc{
  margin-bottom: 20px;
}

.find-out{
  display: flex;
  background: #e5e5e5;
  padding: 50px;
  align-content: center;
  align-items: center;
}

.find-out-title{
  width: 70%;
  font-size: 40px;
}

.btn-pure {
  border: 1px solid #489ff4;
  background: #fff;
  color: #489ff4;
}


.footer-top{
  display: flex;
  margin: 10px 50px;
  padding: 50px 0;
  border-bottom: 1px solid #000;
  justify-content: space-between;
  align-items: flex-end;
}

.footer-item{
  font-weight: 500;
}

.footer-log{
  font-weight: 500;
  font-size: 30px;
}
.foot-bottom{
  margin: 50px;
  text-align: center;
}

.close-img{
  width: 130px;
  height: 130px;
  position: absolute;
  z-index: 1;
  left: 6px;
  top: 16px;
}

.waste-to-energy-right-icon{
  position: relative;
}

#tree-map{
  display: flex;
  justify-content: center;
}

.generated-chart-right {
  display: flex;
    flex-direction: column;
    justify-content: center;
}